#repository {
  width: 100%;
  .panel {
    .panel-heading {
      height: 40px;
      .input-group {
        float: right;
        width: 35%;
      }
    }
  }
  .charts {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    li {
      display: inline-block;
      width: 100%;
      div {
        width: 250px;
        height: 250px;
        margin: 0 auto;
      }
    }

  }
}
