<div id='repository'>
  <div class="content wiserv-ui">
    <div class="panel panel-primary patch">
      <div class="panel-heading">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="请输入关键字、法条、案由...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ui-sref='frame.repositorySearch'>
              <span class="glyphicon glyphicon-search">&nbsp;检索知识库</span>
            </button>
          </span>
        </div>
      </div>
      <div class="panel-body">
        <ul class="charts">
          <li>
            <my-chart-item>
          </li>
          <li>
            <my-chart-item>
          </li>
          <li>
            <my-chart-item>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
