<div id="judgementSearch">
  <section class='wiserv-ui'>
    <div class="panel panel-primary patch">
      <div class="panel-heading">
        <span class='search-result'>裁判文书  共找到 20,000  篇</span>
          <ul class="nav navbar-nav">
            <li class="dropdown" uib-dropdown>
              <a uib-dropdown-toggle class="dropdown-toggle">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;案由
                <span class="caret"></span>
              </a>
              <ul uib-dropdown-menu class="metismenu dropdown-menu patch list-group"  id="libSearch" wiserv-lib-search>
                <li ui-sref-active="active" class=" list-group-item" ng-repeat='item in data'>

                  <a aria-expanded="true" data-name={{item.caseBriefName}} ng-click='judgementLibSearch.searchByCaseBrief($event)'>
                    {{item.caseBriefName}}({{item.verdictNum ? item.verdictNum :0}})
                    <span class="fa arrow"></span>
                  </a>
                  <ul aria-expanded="false" class=" list-group">
                    <li ui-sref-active="active" class=" list-group-item" ng-repeat='item1 in item.childNode'>

                      <a aria-expanded="true" data-name={{item1.caseBriefName}}  ng-click='judgementLibSearch.searchByCaseBrief($event)'>
                        {{item1.caseBriefName}}({{item1.verdictNum ? item1.verdictNum :0}})
                        <span class="fa arrow"></span>
                      </a>
                      <ul aria-expanded="false" class=" list-group">
                        <li ui-sref-active="active" class=" list-group-item" ng-repeat='item2 in item1.childNode'>

                          <a aria-expanded="false" data-name={{item2.caseBriefName}}  ng-click='judgementLibSearch.searchByCaseBrief($event)'>
                            {{item2.caseBriefName}}({{item2.verdictNum ? item2.verdictNum :0}})
                            <span class="fa arrow"></span>
                          </a>
                          <ul aria-expanded="false" class=" list-group">
                            <li ui-sref-active="active" class=" list-group-item" ng-repeat='item3 in item2.childNode'>

                              <a aria-expanded="false" data-name={{item3.caseBriefName}} ng-click='judgementLibSearch.searchByCaseBrief($event)'>
                                {{item3.caseBriefName}}({{item3.verdictNum ? item3.verdictNum :0}})
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown dropdown-append-to-body>
              <a uib-dropdown-toggle class="dropdown-toggle">
                <span class="glyphicon glyphicon-bookmark"></span>&nbsp;法院层级
                <span class="caret"></span>
              </a>
              <ul uib-dropdown-menu class="dropdown-menu patch list-group">
                <li class='list-group-item' ng-repeat='item in judgementLibSearch.courtlevelData'>
                  <a href='javascript:;' data-court-level={{item.courtLevel}} ng-click='judgementLibSearch.searchByCourtLevel($event)'><span class="badge">{{item.verdictNum}}</span>{{item.courtLevel}}</a>
                </li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown dropdown-append-to-body>
              <a uib-dropdown-toggle class="dropdown-toggle">
                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;地域
                <span class="caret"></span>
              </a>
              <ul uib-dropdown-menu class="dropdown-menu patch" id='chinaMapUl' ng-click='judgementLibSearch.showProvince($event)'>
                <li>
                  <div class='pull-left'><wiserv-china-map /></div>
                  <div class='pull-right map-detail'>
                    <div class='prov-img'></div>
                    <h2>{{province}}</h2>
                    <div class='seperate-line'></div>
                    <div class='area-court'>
                      <ul>
                        <li ng-repeat="item in provinceData.childNode"><a data-court-place={{item.courtName}}  ng-click='judgementLibSearch.searchByArea($event)'>{{item.courtName}}({{item.verdictNum}})</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown dropdown-append-to-body>
              <a uib-dropdown-toggle class="dropdown-toggle">
                <span class="glyphicon glyphicon-calendar"></span>&nbsp;裁判日期
                <span class="caret"></span>
              </a>
              <ul uib-dropdown-menu class="dropdown-menu patch">
                <li><a href="#">用户详情</a></li>
                <li><a href="#">用户管理</a></li>
                <li><a href="#">修改密码</a></li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown dropdown-append-to-body>
              <a uib-dropdown-toggle class="dropdown-toggle">
                <span class="glyphicon glyphicon-list"></span>&nbsp;文书类型
                <span class="caret"></span>
              </a>
              <ul uib-dropdown-menu class="dropdown-menu patch list-group">
                <li class='list-group-item' ng-repeat='item in judgementLibSearch.doctypeData'>
                  <a href='javascript:;' data-docType={{item.docType}} ng-click='judgementLibSearch.searchByDocType($event)'><span class="badge">{{item.verdictNum}}</span>{{item.docType}}</li>
                  </a>
              </ul>
            </li>
          </ul>
      </div>
      <div class="panel-body">


        <div class='pull-right search-container'>

          <ul class='search-condition'>
            <span>检索条件：</span>
            <li ng-show='searchParam.causeOfAction'><label>案由：</label>{{searchParam.causeOfAction}}<span class='removeCondition glyphicon glyphicon-remove' ng-click='judgementLibSearch.removeCauseOfAction()'></span></li>
            <!-- <li><label>关键词：</label>财产纠纷<span class='removeCondition glyphicon glyphicon-remove'></span></li> -->
            <li ng-show='searchParam.courtLevel'><label>法院：</label>{{searchParam.courtLevel}}<span class='removeCondition glyphicon glyphicon-remove' ng-click='judgementLibSearch.removeCourtLevel()'></span></li>
            <li ng-show='searchParam.docType'><label>文书类型：</label>{{searchParam.docType}}<span class='removeCondition glyphicon glyphicon-remove' ng-click='judgementLibSearch.removeDoctype()'></span></li>
            <li ng-show='searchParam.courtPlace'><label>地域：</label>{{searchParam.courtPlace}}<span class='removeCondition glyphicon glyphicon-remove' ng-click='judgementLibSearch.removeCourtPlace()'></span></li>
          </ul>
        </div>

        <ul class="timeline">
          <li class="timeline-inverted" ng-repeat='item in judgementLibSearch.dataList'>
            <div class="timeline-time">
              <span class="bg-warning">
                {{item.createTime | date:"yyyy-MM-dd"}}
              </span>
            </div>
            <div class="timeline-badge info">
              <i class="fa fa-circle"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title">{{item.title}}</h5>
              </div>
              <div class="timeline-body">
                <p>案例释义：{{item.orgText}}</p>
                <p>
                  终审法院：{{item.courtName}}
                </p>
              </div>
              <!-- <div class='timeline-label'>
                <span class="label label-success">摘要</span>
                <span class="label label-info">案由</span>
              </div> -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
