<div id="judgment-doc-list">
  <div class="wiserv-ui">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <ul class="type">
          <li>
            <button class="btn btn-primary">
              交通事故 <span class="badge">42</span>
            </button>
          </li>
          <li>
            <button class="btn btn-primary">
              婚姻纠纷 <span class="badge">478</span>
            </button>
          </li>
          <li>
            <button class="btn btn-primary">
              合同纠纷 <span class="badge">13</span>
            </button>
          </li>
          <li>
            <button class="btn btn-primary">
              知识产权 <span class="badge">3310</span>
            </button>
          </li>
        </ul>
        <div class="input-group">
          <input placeholder='请输入查询案件名称...' type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search">&nbsp;搜索</span></button>
          </span>
        </div>
      </div>
      <div class="panel-body wiserv-ui">
        <table class="table table-striped table-hover ">
          <thead>
            <tr class='info'>
              <th>序号</th>
              <th>分析日期</th>
              <th>案件名称</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='item in DocList.list'>
              <td>1</td>
              <td>{{item.createTime}}</td>
              <td>{{item.lawCaseName}}</td>
              <td>
                <button class="btn btn-xs btn-success">
                  <span class="glyphicon glyphicon-pencil">&nbsp;修改</span>
                </button>
                <button class="btn btn-xs btn-danger">
                  <span class="glyphicon glyphicon-remove">&nbsp;删除</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ul class='pull-right' uib-pagination total-items=36 ng-model="test" ng-change=""></ul>
    </div>
  </div>

</div>
