<div id='dashboard'>
  <!--banner-->
  <div class='banner'>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="assets/images/index/banner.png" alt="banner">
          <div class="carousel-caption">
            <h2>走进法官判案智能辅助系统</h2>
            <h4>通过同步或者输入法院审管系统案件信息，系统自动生成与案件相关的文字准确、格式规范的裁判文书。</h4>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-demo">观看演示</button>
              <button type="button" class="btn btn-sm btn-use" ui-sref='judgment.case_list'>立即使用</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!--./banner-->

  <div class='content'>
    <div class='part'>
      <h3>主要功能</h3>
      <ul class='functions'>
        <li>
          <span class='fun-icon info-engine'></span>
          <p>同步审管系统案件信息引擎</p>
        </li>
        <li>
          <span class='fun-icon manual-write'></span>
          <p>手动输入案件信息管理</p>
        </li>
        <li>
          <span class='fun-icon auto-gen'></span>
          <p>自动裁判文书生成系统</p>
        </li>
        <li>
          <span class='fun-icon push-service'></span>
          <p>同步案件智能推送服务</p>
        </li>
        <li>
          <span class='fun-icon related-service'></span>
          <p>关联法律法规智能推送服务</p>
        </li>
      </ul>
      <div class='footer-action text-center'>
        <div class="btn-group">
          <button type="button" class="btn btn-footer btn-more btn-sm">查看更多</button>
          <button type="button" class="btn btn-footer btn-usenow btn-sm">立即使用</button>
        </div>
      </div>
    </div>

    <div class='part steps'>
      <h3>操作步骤</h3>
      <ul class='functions'>
        <li class='step-no'>
          <span class='fun-icon step1'></span>
          <p>判断案件信息选择</p>
        </li>
        <li  class='step-no'>
          <span class='fun-icon step2'></span>
          <p>提交案件生成裁判文书需求</p>
        </li>
        <li  class='step-no'>
          <span class='fun-icon step3'></span>
          <p>裁判文修改</p>
        </li>
        <li  class='step-no'>
          <span class='fun-icon step4'></span>
          <p>确认裁判文书内容</p>
        </li>
        <li  class=''>
          <span class='fun-icon step5'></span>
          <p>完成裁判文书智能生成服务</p>
        </li>
      </ul>
      <div class='footer-action text-center'>
        <div class="btn-group">
          <button type="button" class="btn btn-footer btn-more btn-sm">查看更多</button>
          <button type="button" class="btn btn-footer btn-usenow btn-sm">立即使用</button>
        </div>
      </div>
    </div>
    <div class='part entrance'>
        <div class='enter-wrap'>
          <div class='col-sm-6'>
            <div class='enter-img login'></div>
            <h4 class='enter-text'>用户登录</h4>
          </div>
          <div class='col-sm-6'>
            <div class='enter-img regist'></div>
            <h4 class='enter-text'>用户注册</h4>
          </div>
        </div>
    </div>
  </div>
  <footer></footer>
</div>
