<div class="wrapper">
  <header class="main-header">
    <a class="logo">
      <span class="logo-mini">
        <span class="emblem"></span>
      </span>
      <span class="logo-lg">
        <span class="emblem"></span>
      <span><b>裁判文书</b>&nbsp;编辑器</span>
      </span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="hidden-xs">管理员</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <i class="fa fa-user img-circle"></i>
                <p>
                  管理员 - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a class="btn btn-default btn-flat">管理用户</a>
                </div>
                <div class="pull-right">
                  <a class="btn btn-default btn-flat">退出登录</a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="知识库检索">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <ul class="sidebar-menu">
        <li class="header">首页</li>
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> <span>系统概览</span></a></li>
        <li class="header">编辑器</li>
        <li><a href="#/cases"><i class="fa fa-files-o"></i> <span>处理案件</span></a></li>
        <li><a href="#/editor"><i class="fa fa-book"></i> <span>新建文书</span></a></li>
        <li><a href="#/upload"><i class="fa fa-reply-all"></i> <span>导入文书</span></a></li>
        <li><a href="#/template"><i class="fa fa-table"></i> <span>管理模板</span></a></li>
        <li class="header">知识库</li>
        <li><a href="#/item"><i class="fa fa-list-ul"></i> <span>法条库</span></a></li>
        <li><a href="#/reason"><i class="fa fa-paste"></i> <span>案由库</span></a></li>
        <li><a href="#/doc"><i class="fa fa-columns"></i> <span>文书库</span></a></li>
      </ul>
    </section>
  </aside>
  <div id="main" class="content-wrapper"></div>
</div>