<!DOCTYPE html>
<html lang='zh-CN' ng-app='app' ng-strict-di>
  <head>
    <meta charset='utf-8'/>
    <title>Hummingbird</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link href='../../../libraries/bootstrap/css/bootstrap.min.css' rel='stylesheet'/>
    <link href='../../../libraries/animate/animate.min.css' rel='stylesheet'/>
    <link href='../../../libraries/angular-motion/angular-motion.min.css' rel='stylesheet'/>
    <link href='../../../libraries/jquery-menu/metisMenu.min.css' rel='stylesheet'/>
    <link href='../../../libraries/font-awesome/css/font-awesome.min.css' rel='stylesheet'/>
    <link href='../../../libraries/angular-tree/css/tree-control.css' rel='stylesheet'/>
    <link href='../../../libraries/medium-editor/css/medium-editor.min.css' rel='stylesheet'/>
    <link href='../../../libraries/medium-editor/css/themes/bootstrap.min.css' rel='stylesheet'/>
    <link href='../../../bundles/styles.css' rel='stylesheet'/>
  </head>
  <body>
    <div class='' id='main-page'>
      <!--header-->
      <nav class="navbar">
        <div class="navbar-header">
          <a ui-sref="repository.dashboard" class="navbar-brand">
            <img class='fa-logo' src='../../../assets/images/login/court.png' alt='法院logo'/>&nbsp;法官判案智能辅助系统
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li >
              <a>
                <span class="glyphicon glyphicon-user"></span>&nbsp;个人中心
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class='header'>
      </div>
      <!--./header-->
    </div>
    <script src='../../../libraries/jquery/jquery.min.js'></script>
    <script src='../../../libraries/bootstrap/js/bootstrap.min.js'></script>
    <script src='../../../libraries/angular/angular.min.js'></script>
    <script src="../../../libraries/angular/angular-animate.js"></script>
    <script src='../../../libraries/angular/i18n/angular-locale_zh-hans-cn.js'></script>
    <script src='../../../libraries/angular-router/angular-ui-router.min.js'></script>
    <script src='../../../libraries/angular-ui/ui-bootstrap-tpls.min.js'></script>
    <script src="../../../libraries/angular-strap/angular-strap.min.js"></script>
    <script src="../../../libraries/angular-strap/angular-strap.tpl.min.js"></script>
    <script src='../../../libraries/jquery-menu/metisMenu.min.js'></script>
    <script src='../../../libraries/angular-tree/angular-tree-control.js'></script>
    <script src='../../../libraries/medium-editor/js/medium-editor.min.js'></script>
    <script src='../../../libraries/angular-medium-editor/angular-medium-editor.min.js'></script>
    <script src='../../../libraries/lodash/lodash.min.js'></script>
    <script src='../../../libraries/echarts/echarts.js'></script>
    <script src='../../../bundles/scripts.js'></script>
    <script src='../../../libraries/map/china.js'></script>
  </body>
</html>
