.fill {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
}
#dasbhoard .widget-user-header h5 {
  margin: 0;
}
#layout .emblem {
  display: inline-block;
  width: 46px;
  height: 46px;
  position: relative;
  top: 1px;
  background: url("assets/logo.png") no-repeat;
  background-size: 46px;
}
#layout .logo-lg {
  line-height: 0;
}
#layout .logo-lg span:nth-child(2) {
  position: relative;
  top: -15px;
  left: 3px;
}
#layout .main-header .sidebar-toggle:before {
  content: "\f258" !important;
}
#login {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("assets/login/background.jpg") no-repeat;
}
#login .login-logo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding-bottom: 50%;
  background: url("assets/logo.png") no-repeat;
  background-size: 150px;
}
#case .box-title {
  font-size: 16px;
}
