html, body, #main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  background-color: @gray-background;
  background-size: cover;
}

/** Fill parent container */
.fill {
  width: 100%;
  height: 100%;
}

/** Clean margin & padding */
.clean {
  margin: 0;
  padding: 0;
}

/** Patch bootstrap */
.wiserv-ui {
  // rewrite panel's head
  >.panel {
    border: none;
    margin: 0;
    .panel-heading{
      padding: 0;
      height: 40px;
      background: @gray-font;
      border: none;
      .input-group {
        .form-control {
          border: none;
          font-size: 12px;
          color: @black;
        }
      }
      .btn {
        border: none;
        font-size: 12px;
        padding: 12px 15px 11px 20px;
        margin-left: 0px !important;
        background: rgba(0, 0, 0, .1);
      }
    }
    .panel-body {
      padding: 0;
    }
  }
  // Fix divider overflow bug
  >.divider {
    margin: 0;
  }
  >.list-group {
    margin: 0;
    .title {
      font-weight: bold;
      color: #222222;
    }
    .button {
      background: rgba(0, 0, 0, .04);
      padding: 10px 12px;
      margin-left: 15px;
    }
    .button:hover {
      background: rgba(0, 0, 0, .1);
      cursor: pointer;
    }
    .button:active {
      background: rgba(0, 0, 0, .2);
      border-left: 1px solid  @gray;
      border-right: 1px solid  @gray;
      cursor: pointer;
    }
    .list-group-item:nth-child(1) {
      border-top: 0;
    }
  }
  >.table {
    margin: 0;
    th {
      border-bottom: 1px;
    }
  }
  >.modal-dialog {
    .fill;
    .clean;
    .modal-content {
      .fill;
      .clean;
    }
  }
}
