@white: #FFFFFF;
@orange: #DF691A;
@gray-font: #333333;
@gray: #E7E7E7;
@gray-light: #EBEBEB;
@gray-background: #FAFAFA;
@blue: #008CBA;
@light-blue:#5bc0de;
@light-orange:#f0ad4e;
@dark-gray:#ccc;
@success:#43ac6a;
@black: #323232;
@font-gray:#666666;
@yellow: #FCE9BA;
@login-btn:#e74b3c;
@font-label:#949494;
@btn-demo:#3b556e;
@btn-use:#e14401;
@index-bg:#eff3f6;
@footer-bg:#33475f;
@content-bg:#f9fafc;
